.content{
    margin: 20px 10px 0 10px;
}
.title{
    margin-bottom: 10px;
    border-bottom: 1px solid #5a5a5a;
    color: #5a5a5a;
    padding-bottom: 3px;
}
.list{
    list-style: none;
    & li{
        position: relative;
        min-height: 72px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
}
.img-container {
    min-width: 70px;
    min-height: 68.9px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;
}

.img {
    min-width: 50px;
    min-height: 65px;
    background-size: cover;
    border-radius: 100%;
}
.info-user{
    margin-left: 80px;
    font-size: 20px;
    color: #5a5a5a;
}
.user-name{
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
.message{
    color: #075da4;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
}

@media(min-width:375px){
    .user-name{
        margin-top: 18px;
    }
}
@media(min-width: 768px){
    .user-name{
        margin-top: 22px;
    }
}
@media(min-width: 992px){
    .content{
        margin: 20px 50px 0 50px;
    }
}