h3 {
    color: rgb(70, 70, 70);
    font-size: 16px;
    font-family: 'CronosPro-Regular', sans-serif;
}
span{
    color: rgb(70, 70, 70);
    font-family: 'CronosPro-Regular', sans-serif;
    background: #e2e8f6;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 48.33px;
    margin-right: 10px;
}