@import "../../../assets/sass/utils/variables";


.title{
    margin-bottom: 10px;
    background: $color-header;
    color: $color-white;
    padding: 10px 2px;
    text-align: center;
    font-size: 18px;
}
.container{
    padding: 5px 24px 24px 24px;
}
.mat-radio-button ~ .mat-radio-button {
    display: block;
    margin-top: 13px;
}
.mat-radio-label-content{
    font-size: 14px !important;
}
.btn-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
        margin-right: 10px;
    }
}

.validacion{
    color: rgb(185, 12, 12);
}