$color-primary: #253ba7;
$color-primary-light: #0065a3;
$color-secondary: #00aeef;
$color-secondary-hover: #0293c8;
$color-gray-light: #e7e7e7;
$color-gray-dark: #2b2b2b;
//Header
$color-header: #075da4;
$color-header-hv: #085797;
$color-icon-search: #38afeb;
//Placeholder color
$color-placeholder-gray: #c2c0c0;
$color-white: #fff;
$color-error: rgb(214, 31, 31);
//Border-radius
$border-radius: 30px;
//Botones
$btn-disabled-bg: #cccccc;
$btn-disabled-color: #666666;
$btn-disabled-border: #999999;
//Tarjeta especial superfe
$color-gold: #efb810 ;